data/videos/
data/raw_frames/
data/processed_frames/
data/test_videos/
data/features.npy
data/labels.npy

# Zip files
src/Zip1.zip
src/Zip2.zip

# Python cache
src/__pycache__/
__pycache__/
*.pyc

# Uploads
src/uploads/